/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++          FUENTES         +++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@font-face {
    font-family: 'Federo';
    src: url('fonts/Federo-Regular.eot');
    src: url('fonts/Federo-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Federo-Regular.woff2') format('woff2'),
        url('fonts/Federo-Regular.woff') format('woff'),
        url('fonts/Federo-Regular.ttf') format('truetype'),
        url('fonts/Federo-Regular.svg#Federo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++    ESTILOS GENERALES    +++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}
.clearfix{
    display: inline-block;
}
html[xmlns] .clearfix{
    display: block;
}
* html .clearfix{
    height: 1%;
}
* html .clearfix{
    zoom: 1;
}
*:first-child + html .clearfix{
    zoom: 1;
}
body{
    background-color: #fbedf4;
    padding-top: 70px;
}
h1, h2, h3, h4{
    color: #90486c;
    font-family: Federo, sans-serif;
    line-height: 47px;
    text-transform: uppercase;
}
h3{
    font-size: 42px;
    display: block;
    margin: auto;
    text-align: center;
}
p{
    text-align: center;
    display: block;
    margin: auto;
    font-size: 24px;
}
p, span, label, li, td, tr{
    color: #535d68;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    line-height: 20px;
}
tr > td{
    text-transform: uppercase;
}
tr{
    border-bottom: 1px #9E8167 solid;
}
td {
    padding: 5px 20px;
}
table {
    border-spacing: 5px;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-bottom: 1px #9E8167 solid;
    max-height: 105px;
    min-width: 380px;
}
.lower{
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}
header{
    background-color: #90486c;
    width: 100%;
    height: 71px;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2));
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    position: fixed;
    z-index: 9;
    top: 0;
}
.logo-header img{
    width: 100%;
    height: auto;
    margin: 10%;
    min-width: 197px;
}
header nav{
    width: 68%;
    height: auto;
    margin: 0 40px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    height: 100%;
}
header nav li{
    margin: auto;
    transition: all 0.3s;
}
header nav li a{
    font-size: 17px;
    padding: 10px 20px;
    font-family: Federo, sans-serif;
}
header nav li:hover a{
    color: #90486c;
    background-color: #fbf6fa;
}
.section-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    margin: auto 0 auto auto;
}
#idiomas{
    display: flex;
    margin: 0px 20px 0px 0px;
    color: #fff;
    justify-content: space-between;
    min-width: 53px;
}
#idiomas a{
    font-family: Federo, sans-serif;
    font-size: 17px;
}
#idiomas a:hover{
    background-color: transparent !important;
    color: #fff !important;
}
.overlay-black, #overlay-buscar{
	position: fixed;
	display: block;
	background: rgba(0,0,0,.5);
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 8;
    display: none;
}
#overlay-buscar{
    z-index: 10;
}
.modal-buscar{
    display: block;
    position: absolute;
    background-color: #fff;
    width: 50vw;
    max-width: 457px;
    min-width: 376px;
    height: 25vh;
    min-height: 200px;
    max-height: 250px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 3%;
}
.cerrar-modal {
    cursor: pointer;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 1%;
    right: 1%;
    background: url(../img/cerrar.svg);
    background-size: auto;
    z-index: 10;
    background-size: cover;
}
.modal-buscar p{
    color: #662b48;
    font-family: 'Federo', sans-serif;
    text-transform: uppercase;
}
.form-modal{
    display: flex;
    margin: auto;
    margin-top: 30px;
    flex-direction: column;
}
.form-modal input{
    margin: auto auto 20px;
    max-width: 300px;
    background: #F4EEF2;
    border: none;
    width: 90%;
    height: 38px;
    margin-bottom: 30px;
    transition: all .8s;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-modal button{
    display: block;
    max-width: 170px;
    margin: auto;
    background-color: #662b48;
    color: #fff;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all .5s;
    border: unset;
    font-size: 16px;
    cursor: pointer;
}
.form-modal button:hover {
    background-color: transparent;
    color: #662b48;
}
.menu_anvorguesa{
	display: none;
	align-items: center;
	position: relative;
    z-index: 501;
    margin: auto 0;
}
.anvorguesa {
    background: transparent;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 52px;
    text-align: center;
    margin-top: -5px;
    margin-right: 20px;
}
.anvorguesa svg {
    width: 100%;
    height: 100%;
    margin-top: 1px;
    color: #fff;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.anvorguesa path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #fff;
    stroke-dashoffset: 0px;
}
.anvorguesa path#top,
.anvorguesa path#bottom {
    stroke-dasharray: 240px 950px;
}
.anvorguesa path#middle {
    stroke-dasharray: 240px 240px;
}
.cross path#top,
.cross path#bottom {
    stroke-dashoffset: -650px;
    stroke-dashoffset: -650px;
}
.cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
}
#menu-container{
	position: absolute;
	display: block;
	height: 100vh;
    width: 100vw;
	background: rgba(56, 35, 45, 0.9);
	background-position: 39% 88%;
	z-index: 500;
	right: -120%;
	top: 0;
	transition: all ease .5s;
	box-shadow: -7px 0px 16px 0px rgba(0,0,0,0.75);
	opacity: .9;
}
#menu-container.open{
	right: 0;
}
#menu-mobile-bar{
    width: 100vw;
    height: 60px;
    background-color: #90486c;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    z-index: 10;
}
#menu-mobile-bar .idiomas{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    color: #FFF;
    flex-wrap: wrap;
    max-width: 100px;
    min-width: 80px;
}
#menu-mobile-bar .idiomas button{
    margin: auto 10px;
}
#menu-mobile-bar .idioma:hover, .seleccionado{
    font-weight: bold;
}
.idioma{
    font-size: 20px;
}
.top-bar .idioma-desk{
    transition: all .3s;
}
.top-bar .idioma-desk:hover, .seleccionado{
    font-size: bold;
    color: #DB052C;
}
.if-mobile{
    display: block;
    color: #FFF;
    width: 1px;
    background-color: #FFF;
    height: 50%;
    margin: auto 0;
    transform: skew(334deg);
}
#menu-mobile-bar .redes-sociales-header{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#menu-mobile-bar .redes-sociales-header a{
    margin: auto 10px;
    width: 10%;
    min-width: 30px;
}
.facebook-bar{
    margin: auto;
}
#menu-mobile li{
	display: block;
	position: relative;
	width: 100%;
	height: 8%;
	margin: 5px 0 0 0;
    margin-bottom: 50px !important;
}
#menu-mobile li:first-child{
	margin: 80px 0 0 0;
}
#menu-mobile{
    margin: auto 10%;
}
#menu-mobile li a{
	display: block;
	font-size: 20px;
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
	text-align: center;
	width: 100%;
    height: 100%;
}
#menu-mobile li a:after{
	display: block;
	content: '';
	position: absolute;
	width: 0%;
	height: 2px;
	background:#FFF;
	margin: 10px 0 0 -50%;
	left: 60%;
    transition: ease all .5s;
}
#menu-mobile li a:hover{
	opacity: 1;
    color: #90486c;
}
#menu-mobile li a:hover:after{
	width: 80%;
}
.flecha-before{
    padding-right: 40px;
    position: relative;
}
.flecha-before:before{
    content: "";
    display: block;
    background: url(../img/flecha.svg);
    width: 17px;
    top: -3px;
    right: 0;
    height: 30px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
#section-video{
    position: relative;
}
.overlay-video{
    display: block;
    z-index: 4;
    height: 99.5%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}
.video-responsive{
    display: none;
}
#section-video img{
    width: 100%;
}
#section-video a{
    position: absolute;
    right: 6%;
    bottom: 5%;
    z-index: 5;
}
.banner-nina{
    width: 100%;
    position: relative;
    margin-top: -3px;
}
.banner-mob{
    display: none;
}
.banner-nina img{
    width: 100%;
}
.banner-nina a{
    position: absolute;
    right: 10%;
    bottom: 8%;
    z-index: 5;
}
#escaparate{
    position: relative;
    margin: 30px 7%;
}
#escaparate h1{
    display: block;
    font-size: 42px;
    text-align: center;
    margin: 0px auto 30px;
    z-index: 2;
}
#escaparate h1::after{
    position: absolute;
    display: block;
    z-index: 0;
    content: '';
    top: 18px;
    width: 35%;
    height: 2px;
    background-color: #90486c;
}
#escaparate h1::before{
    position: absolute;
    display: block;
    z-index: 0;
    content: '';
    top: 18px;
    right: 0;
    width: 35%;
    height: 2px;
    background-color: #90486c;
}
#escaparate .descubre{
    color: #90486c;
    text-transform: uppercase;
    text-align: right;
    display: block;
    margin: auto;
    position: relative;
}
#escaparate .descubre:before{
    background: url(../img/flecha-morada.svg);
    background-repeat: no-repeat;
    width: 22px;
    margin-top: -3px;
    height: 37px;
}
.vestidos-container, .catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-vestidos{
    margin-bottom: 40px;
    overflow: hidden;
    width: 30%;
    height: auto;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
}
 .container-vestidos img{
    width: 100%;
    height: auto;
    transition: all 0.5s;
}
.swiper-container {
    display: none;
    width: 100%;
    height: 600px;
    padding-bottom: 40px;
}
.swiper-wrapper {
    height: 93%;
}
.swiper-slide{
    display: none;
    text-align: unset;
    font-size: 18px;
    padding-bottom: 40px;
    background: transparent;
    min-height: 300px;
     /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide .container-vestidos{
    width: 370px;
    max-height: 468px;
    margin-bottom: 20px;
}
.swiper-pagination > span{
    background: #662b48;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 19px 4px !important;
}
.imge-prim{
    position: relative;
}
.image-secondary{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}
.hover{
    font-size: 24px;
    position: absolute;
    width: 100%;
    display: block;
    display: block;
    background-color: #662b48;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    color: #fff !important;
    font-family: Raleway, sans-serif;
}
.n-vestido{
    font-size: 24px;
    position: relative;
    background-color: #90486c;
    color: #fff;
    text-align: center !important;
    margin: -5px auto auto;
    padding: 40px 20px;
    transition: all 0.5s;
    text-transform: capitalize;
}
.container-vestidos:hover .image-secondary{
    opacity: 1;
    transform: scale(1.2);
}
.container-vestidos:hover .hover{
    animation-name: hover-anime;
    animation-duration: 0.5s;
    animation-timing-function: easeOutCirc;
    bottom: 96px;
}
.container-vestidos:hover .n-vestido{
    background-color: #fff;
    color: #90486c;
}
@keyframes hover-anime{
    0% {transform: translateY(60px);}
}
 #form-container{
    width: 100%;
    height: 550px;
    padding: 0 0 60px;
    background: url(../img/background-xv.jpg) no-repeat;
    background-position: bottom left;
    background-size: cover;
    display: inline-table;
}
.form-wrapper{
    background-color: #fff;
    width: 30%;
    height: 90%;
    margin-left: 14%;
    text-align: center;
    padding: 30px 25px;
    min-width: 400px;
    max-width: 450px;
}
.form-wrapper h3{
    font-size: 40px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.little{
    font-size: 30px;
    color: #90486c;
    text-align: center;
    font-family: Federo, sansserif;
}
.form-wrapper p{
    font-size: 17px;
    width: 90%;
    display: block;
    margin: auto auto 15px;
}
form li{
    position: relative;
}
#formulario{
    margin: 25px 2% 10px;
}
#formulario input, #formulario textarea{
    background: #F4EEF2;
    border: none;
    width: 90%;
    height: 38px;
    margin-bottom: 30px;
    transition: all .8s;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#formulario label{
    transition: all .2s;
    touch-action: manipulation;
    display: block;
    position: absolute;
    color: #535D68;
    left: 7px;
    top: 13px;
    z-index: 0;
}
#formulario textarea{
    height: 100px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus{
    outline: unset;
    border: 1px #fff solid;
    background-color: transparent;
}
.error{
    border: 1px solid  #D93535;
}
.validado{
    border: 1px solid green; 
}
.textoError{
    background-color: #D93535;
    color: #FFF;
    font-size: 12px !important;
    width: 103% !important;
    margin-top: -30px !important;
    letter-spacing: 1px;
    padding: 5px 0px;
}
input[type="text"]:focus + label, 
input[type="password"]:focus + label,
textarea:focus + label,
input[type="text"]:valid + label,
.formulario input[type="password"]:valid + label{
    margin-top: -27px;
    font-size: .7em;
    color: white;
}
input[type="text"],
input[type="password"],
textarea{
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
    color: #535d68;
    padding-left: 10px;
}
.enviar{
    border: unset;
    transition: all .3s;
    display: block;
    margin: auto;
    background: transparent;
    color: #535D68;
    margin-bottom: 30px;
    padding: 12px 34px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 24px;
    
}
.enviar::before{
    background: url(../img/flecha-gris.svg);
    background-repeat: no-repeat;
    height: 36px;
    width: 21px;
    margin-top: 9px;
}
button:focus{
    outline: unset;
}
#donde-comprar{
    width: 86%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 20px 7%;
    background: linear-gradient(102.94deg, #EBE9E9 36.34%, rgba(204, 204, 204, 0.59375) 49.97%, rgba(225, 223, 223, 0.864583) 57.36%, rgba(255, 255, 255, 0) 74.24%, rgba(255, 255, 255, 0) 83.81%), #D1D1D1;
}
#donde-comprar img{
    width: 100%;
}
.text-contain{
    height: auto;
    display: block;
    margin: auto;
    text-align: center;
}
.text-contain h3{
    font-size: 42px;
    margin-bottom: 40px;
}
.text-contain p{
    font-size: 24px;
    margin-bottom: 15px;
    color: #662b48;
}
.text-contain a{
    display: block;
    width: 47%;
    margin: 26px auto 0px;
    background-color: #662b48;
    color: #fff;
    padding: 10px 40px;
    transition: all .5s;
}
.text-contain a:hover{
    background-color: transparent;
    color: #662b48;
}
#newsletter{
    display: block;
    width: 100%;
    background: url(../img/back-newsletter.jpg) no-repeat;
    background-size: cover;
    padding: 65px 0;
}
#newsltter{
    color: #fff;
}
#newsletter > p {
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 25px;
    margin: 25px 7%;
}
.form-news{
    margin-top: 25px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    position: relative;
}
.form-news p{
    position: relative;
    margin: 0;
    font-size: 15px;
    text-align: center;
}
#newsletter .enviar{
    margin: unset;
    background-color: #662b48;
    color: #fff;
    font-size: 17px;
}
.form-news input{
    border: unset;
    width: 256px !important;
    height: 42px !important;
    margin-bottom: unset !important;
    margin-right: 20px;
}
.form-news label{
    position: absolute;
    transition: all .5s;
    left: 72px;
    top: 12px;  
}
footer{
    background-color: #90486c;
    color: #fff;
    height: auto;
    width: 100%;
    clear: both;
}
footer a{
    font-size: 17px;
}
.one-footer{
    width: 86%;
    padding: 20px 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.nav-footer ul li{
    margin-bottom: 15px;
}
.logo-footer{
    width: 33%;
    display: block;
    margin: auto;
    touch-action: manipulation;
}
.footer-desk{
    width: 100%;
}
.footer-mobile{
    display: none;
}
.redes-mobile{
    display: none;
}
.redes{
    margin: auto 0;
}
.link-redes a{
    margin-right: 10px;
}
address{
    width: 100%;
    padding: 20px 0px;
    font-family: Raleway, sans-serif;
    border-top: 1px white solid;
    text-align: center;
}
.black{
    background-color: #FAFAFA;
}
.black header, .black footer{
    background-color: black;
}
.black .menu-desktop a:hover{
    color: #000;
    background-color: #FFF;
}
.black .link-redes path, .black .link-redes rect{
    /* stroke: #9E8167; */
    fill: #000;
}
.gold, .blue{
    background-color: #FBF6FA;
}
.gold p, .gold span, .gold h1, .gold h4, .gold h3, .gold .otros h3, .gold .detalles-producto h3, .gold .modelo, .gold .color, .gold .link-redes p, .gold .border-buton, .gold li, .gold .menu-desktop a:hover{
    color: #9E8167;
}
.gold header, .gold footer, .gold .otros h3::before,.gold .otros h3::after, .gold .border-buton:hover, .gold .invertido{
    background-color: #9E8167;
}
.gold tr{
    border-bottom: 1px #9E8167 solid;
}
.gold .border-buton{
    border: 1px #9E8167 solid;
}
.gold .link-redes path, .gold .link-redes rect{
    /* stroke: #9E8167; */
    fill: #9E8167;
}
.gold .invertido:hover{
    background-color: transparent;
}
.gold .menu-desktop a:hover{
    background-color: #fff;
}
.gold .border-buton:hover, .gold .invertido{
    color: #fff;
}
.gold .invertido:hover{
    color: #9E8167;
}
.blue p, .blue span, .blue h1, .blue h4, .blue h3, .blue .otros h3, .blue .detalles-producto h3, .blue .modelo, .blue .color, .blue .link-redes p, .blue .border-buton, .blue li, .blue .menu-desktop a:hover{
    color: #142149;
}
.blue header, .blue footer, .blue .otros h3::before,.blue .otros h3::after, .blue .border-buton:hover, .blue .invertido{
    background-color: #142149;
}
.blue tr{
    border-bottom: 1px #142149 solid;
}
.blue .border-buton{
    border: 1px #142149 solid;
}
.blue .link-redes path, .blue .link-redes rect{
    /* stroke: #9E8167; */
    fill: #142149;
}
.blue .invertido:hover, .pink .invertido:hover{
    background-color: transparent;
}
.blue .menu-desktop a:hover, .pink .menu-desktop a:hover{
    background-color: #fff;
}
.blue .border-buton:hover, .blue .invertido{
    color: #fff;
}
.blue .invertido:hover{
    color: #142149;
}
.pink p, .pink span, .pink h1, .pink h4, .pink h3, .pink .otros h3, .pink .detalles-producto h3, .pink .modelo, .pink .color, .pink .link-redes p, .pink .border-buton, .pink li, .pink .menu-desktop a:hover{
    color: #90486c;
}
.pink header, .pink footer, .pink .otros h3::before,.pink .otros h3::after, .pink .border-buton:hover, .pink .invertido{
    background-color: #90486c;
}
.pink tr{
    border-bottom: 1px #90486c solid;
}
.pink .border-buton{
    border: 1px #90486c solid;
}
.pink .link-redes path, .pink .link-redes rect{
    /* stroke: #9E8167; */
    fill: #90486c;
}
.pink .border-buton:hover, .pink .invertido{
    color: #fff;
}
.pink .invertido:hover{
    color: #90486c;
}
.product-page .n-vestido, .product-page .hover, .bti .n-vestido, .bti .hover{
    color: #fff ;
}
.product-page .n-vestido{
    margin-top: -2px;
    font-size: 24px !important;
    text-align: center !important;
}
.redes p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}
.product-page p{
    text-align: unset;
    display: block;
    margin: unset;
    font-size: 17px; 
}
#gold-button{
    background-color: #9E8167;
}
#blue-button{
    background-color: #142149;
}
#pink-button{
    background-color: #90486c;
}
#verde-button{
    background-color: #85ffdc;
}
.color{
    width: 45%;
    position: relative;
}
.colores{
    position: absolute;
    top: -4px;
    left: 53px;
    display: flex;
    flex-direction: row;
}
.colores button{
    background-color: #90486c;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 4px 5px 0px;
    cursor: pointer;
}
.donde-comprar h1{
    font-size: 42px;
    text-align: center;
    display: block;
    margin: 30px 7% 0px;
}
#form-contacto{
    width: 100%;
    height: auto;
    background: url(../img/back-contacto.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0;
}
#form-contacto .form-wrapper{
    margin: auto;
    color: #9E8167; 
}
#form-contacto h3,#form-contacto .little,#form-contacto .enviar{
    color: #9E8167;
}
#form-contacto input, #form-contacto textarea{
    background: rgba(255, 245, 237, 0.94);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#medios-contacto{
    margin: 40px 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#medios-contacto{
    text-align: left;
}
.copy-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
}
.copy-logo img{
    min-width: 50px;
    max-width: 60px;
    margin-right: 10px;
}
.correo{
    min-width: 61px;
    width: 30%;
    min-width: 36%;
}
.correo h4{
    min-width: 278px;
}
#contenedor_general_interactivo{
    margin: 20px 7%;
    overflow: hidden;
}
.contenedor_tabs{
	width: 100%;
	height: auto;
	position: relative;
}
.header-tabs{
	width: 100%;
	height: 69px;
	z-index: 5;
    position: relative;
    overflow-y: hidden;
}
.title-tabs h2{
    font-size: 80px;
    text-align: center;
    display: block;
    margin: 80px auto;
}
.intro_categorias{
	margin: 40px auto 0;
	color: #FFF;
    color: #90486c;
    font-family: Federo, sans-serif;
	font-size: 36px;
	line-height: 1.3em;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#menutabs01{
	position: relative;
	z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px #90486c solid;
    padding-top: 10px;
}
#menutabs01 li{
	display: block;
	height: 40px;
	margin: 0 0 3px 0;
}
#menutabs01 li a{
	display: block;
	width: 150px;
	height: 20px;
	line-height: 22px;
    padding: 5px 0px;
	font-size: 1em;
	color: #000;
    text-align: center;
	transition:all ease-out .4s;
	-moz-transition:all ease-out .4s;
	-o-transition:all ease-out .4s;
	-ms-transition:all ease-out .4s;
	-webkit-transition:all ease-out .4s;
}
.it_vinculo{
	border: none;
}
.it_selected{
	font-weight: 400;
    color: #fbedf4 !important;
    background-color: #90486c;
}
#menutabs01 li a:hover{
	font-weight: 400;
}
#fichatabs01,#fichatabs02,#fichatabs03,#fichatabs04,#fichatabs05,#fichatabs06,#fichatabs07,#fichatabs08{
	margin-top: 20px;
}
#aficha02, #aficha03, #aficha04, #aficha05, #aficha06, #aficha07, #aficha08, #aficha09, #aficha10, #aficha11, #aficha12{
	display:none;
}
.flecha-black{
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    text-align: right;
    margin: 40px 7% 80px;
    display: block;
    padding-right: 60px;
}
.flecha-black::before{
    top: -11px;
    width: 27px;
    height: 45px;
    background: url(../img/flecha-negra.svg) no-repeat;
}
#escotes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 7% 10%;
}
#escotes li{
    margin-bottom: 30px;
}
#escotes img{
    display: block;
    margin: auto auto 20px;
    background-color: #EEEEEE;
    padding: 55px 24px;
    cursor: pointer;
    width: 66%;
}
#colores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 7% 27%;
}
#colores img{
    margin-bottom: 20px;
    cursor: pointer;
}
.antes{
    display: block;
    float: left;
    clear: both;
    padding-left: 45px;
    padding-right: 0px !important;
}
.antes::before{
    background: unset;
}
.antes::after{
    content: "";
    background: url(../img/flecha-negra.svg) no-repeat;
    top: -15px;
    left: 0;
    transform: rotate(180deg);
    width: 27px;
    height: 45px;
    position: absolute;
    display: block;
}
.despues{
    display: block;
    float: right;
}
#featured{
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.thumbnail{
    object-fit: cover;
    cursor: pointer;
    opacity: 0.5;
    border: 2px #000 solid;
    transition: all .4s;
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
}
.thumbnail:hover{
    opacity: 1;
}
.active{
    opacity: 1;
}
#img-container{
    max-width: 379px;
    min-width: 379px;
    max-height: 506px;
    position: relative;
}
#content-wrapper{
    display: flex;
    flex-direction: row;
    margin: 3% 7%;
    position: relative;
}
#description{
    display: block;
    width: 30%;
    margin-left: 4%;
}
#description > h4{
    line-height: unset !important;
    font-size: 36px !important;
    margin-bottom: 10px;
}
#description p{
    font-size: 17px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 0;
}
#description .link-redes{
    display: flex;
    flex-direction: row;
}
#description .link-redes a{
    margin: 0px 10px;
}
.link-redes p{
    margin-left: unset;
    margin-right: 20px;
}
.border-buton{
    text-align: center;
    display: block;
    margin: 3% auto;
    transition: all .4s;
    color: #000;
    border: 2px #000 solid;
    text-transform: uppercase;
    padding: 15px 0px;
}
.invertido{
    color: #fff;
    background-color: #000;
    padding: 15px 0px;
}
.border-buton:hover{
    color: #fff;
    background-color: #000;
    padding: 15px 0px;

}
.invertido:hover{
    color: #000;
    background-color: transparent;
}
.a-contain{
    margin-top: 15%;
}
.caracteristicas-mobile{
    display: none;
}
.otros{
    margin: 30px 7%;
}
.otros h3{
    color: #000;
    position: relative;
    margin-bottom: 30px;
}
.otros h3::before{
    position: absolute;
    display: block;
    z-index: 0;
    content: '';
    top: 18px;
    right: 0;
    width: 25%;
    height: 2px;
    background-color: #000;
}
.otros h3:after{
    position: absolute;
    display: block;
    z-index: 0;
    content: '';
    top: 18px;
    left: 0;
    width: 25%;
    height: 2px;
    background-color: #000;
}
.zoom-image-cont{
	width: 35%;
	height: auto;
	position: relative;
}
.locales-mexico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 7%;
}
.busqueda-wrap{
    position: relative;
}
.input-mobile{
    display: none;
}
.locales-mexico input{
    background-color: transparent;
    border: 1px #142149 solid;
    width: 95.5%;
    padding: 8px 0px 8px 10px;
}
.shop-list span{
    margin: 10px 0px;
    display: block;
}
.busqueda{
    position: absolute;
    border: none;
    background-color: transparent;
    top: 4px;
    right: 3px;
}
.locales-mexico input[type="text"]{
    color: #142149;
    font-weight: bold;
    margin-right: 10px;
}
.resultados-locales{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.resultados-locales li{
    width: 100%;
    border-top: 1px #142149 solid;
    position: relative;
    padding: 20px 0px;
}
.resultados-locales img{
    position: absolute;
    top: 0;
    right: 0;
}
.resultados-locales p{
    font-size: 17px;
    text-align: left;
    margin-bottom: 10px;
}
.resultados-locales .border-buton{
    font-size: 16px;
    width: 47%;
    padding: 9px 16px;
    color: #142149;
    border: 1px #142149 solid;
}
.resultados-locales .border-buton:hover{
    color: #fbf6fa;
    background-color: #142149;
}
.direccion, .telefono{
    position: relative;
    padding-left: 25px;
}
.direccion::before, .telefono::before{
    content: "";
    background: url(../img/location_outline.svg);
    display: block;
    width: 22px;
    top: 0;
    left: 0;
    height: 22px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
.telefono::before{
    background: url(../img/phone_outline.svg);
}
.shop-list{
    margin-right: 20px;
}
.map-mexico{
    width: 63%;
    height: 0;
}
.map-mexico > img{
    display: block;
    background: rgba(255, 255, 255, 0.4);
    margin: 0px auto;
    width: 100%;
    padding: 30px 8px;
}
.detalles-producto{
    margin: 0px 7%;
}
.detalles-producto h3{
    text-align: left;
    margin-bottom: 20px;
    color: #9E8167;
}
.detalles-producto p{
    margin-bottom: 15px !important;
    text-align: inherit;
    font-size: 18px;
    line-height: 21px;
}
.detalles-producto li{
    list-style: disc;
    margin-left: 25px;
}
.js-image-zoom__zoomed-image{
    z-index: 7;
    width: 100% !important;
}
#responsive-container #description{
    display: none;
}
.detalles-producto .caracteristicas{
    display: none;
}
.bti h1{
    font-size: 45px;
    text-align: center;
    margin: 50px auto 30px;
    color: #000;
}
.bti > p{
    margin: auto 7%;
    color: #000;
}
.bti h2 {
    margin: 30px 7% 30px;
    text-align: left;
    color: #000;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 42px;
    text-transform: inherit;
}
.bti h2:before {
    content: "1";
    border-radius: 50%;
    padding: 4px 20px;
    border: 1px #000 solid;
    margin-right: 20px;
}
.bti .flecha-gris{
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    text-align: right;
    margin: 40px 7% 80px;
    display: block;
    padding-right: 60px;
}
.selected{
    border: 2px #000 solid;
}
.search-box{
    cursor: pointer;
    margin: auto 20px auto 0;
}
.container-650px h4{
    display: none !important;
}
.idioma{
    text-decoration: underline #fff;
}
figure.zoom {
    background-position: 50% 50%;
    position: relative;
    width: 400px;
    height: 100%;
    overflow: hidden;
    cursor: zoom-in;
}
figure.zoom img:hover {
    opacity: 0;
}
figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}
#content-wrapper {
    display: flex;
    flex-direction: row;
    margin: 3% 7%;
    position: relative;
  }
#image-wrapper{
    width:130px;
}
#image-wrapper img{
    width:100%;
    position:relative;
}
.thumbnail{
    cursor:pointer;
    opacity:.7;
}
.thumbnail.it_selected{
    opacity:1;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++ MEDIA QUERYS ++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 1255px){
    header nav li a, #idiomas a{
        font-size: 15px;
    }
    .copy-logo h4{
        font-size: 22px !important;
    }
}
@media screen and (max-width: 1070px){
    header nav li a{
        padding: 10px;
    }
    body a{
        font-size: 22px;
    }
    #escaparate h1::before, #escaparate h1::after {
        display: none;
    }
    footer a {
        font-size: 17px;
    }
    table {
        min-width: 100%;
    }
    td {
        padding: 5px 10px;
    }
    .thumbnail {
        margin-left: 20px;
    }
}
@media screen and (max-width: 980px){
    .logo-header img{
        min-width: 150px;
        margin: 13% 0 12% 8%;
    }
    header nav li a, #idiomas a{
        font-size: 13px;
    }
    body a{
        font-size: 20px;
    }
    .copy-logo h4{
        font-size: 20px !important;
    }
    .copy-logo p{
        font-size: 15px;
        text-align: inherit;
    }
    footer a {
        font-size: 17px;
    }
    .otros h3::before{
        display: none;
    }
    .otros h3:after{
        display: none;
    }
    .a-contain a{
        font-size: 17px;
        max-width: 230px;
    }
    .border-buton{
        max-width: 230px;
    }    
}
@media screen and (max-width: 890px){
    .text-contain h3 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .text-contain p, p {
        font-size: 20px;
    }
    .little {
        font-size: 25px;
    }
    .n-vestido{
        font-size: 20px;
        padding: 25px 0px;
    }
    .hover{
        font-size: 20px;
        padding: 15px 0;
    }
    .logo-header img{
        min-width: 150px;
        margin: 10%;
    }
    .menu_anvorguesa{
        display: flex;
        margin-right: -2%;
        cursor: pointer;
    }
    .swiper-slide{
        height: 491px !important;
        background-color: transparent;
    }
    #donde-comprar {
        flex-direction: column;
    }
    .text-contain{
        margin-top: 30px;
    }
    .text-contain a{
        margin: 0px auto 12px;
    }
    h3, .form-wrapper h3{
        font-size: 35px;
    }
    footer a {
        font-size: 15px;
    }
    .form-news {
        flex-direction: column;
    }
    .form-news input {
        margin-bottom: 30px !important;
    }
    .form-news label{
        margin-left: 0px;
        bottom: 86px;
    }
    .one-footer{
        flex-direction: row-reverse;
    }
    .footer-mobile{
        display: block;
        margin: auto;
        width: 100%;
        max-width: 150px;
    }
    .logo-footer{
        width: 38%;
        margin: auto auto auto 0;
    }
    .nav-footer{
        width: 50%;
        display: flex;
        justify-content: center;    
    }
    #medios-contacto {
        flex-direction: column;
        height: auto;    
    }
    .copy-logo{
        margin: auto 26% 30px;
        justify-content: inherit;
    }
    .locales-mexico {
        flex-direction: column-reverse;
    }
    .map-mexico {
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
    }
    .locales-mexico input {
        width: 100%;
    }
    .busqueda {
        right: -5px;
        cursor: pointer;
    }
    .input-mobile span{
        display: block;
        margin: 10px 0;
    }
    .banner-nina a{
        display: none;
    }
    .form-wrapper {
        margin: auto;
        margin-top: 33px;
    }
    .swiper-container {
        width: 100%;
        height: auto;
    }
    .container-vestidos{
        width: 48%;
        margin-bottom: 15px;
    }
    .container-vestidos:hover .hover{
        bottom: 70px;
    }
    .caracteristicas, .busqueda-wrap, .redes, .footer-desk, .vestidos-container, .menu-desktop, #idiomas, #img-container, #image-wrapper, #content-wrapper{
        display: none;
    }
    .caracteristicas-mobile, .redes-mobile, .input-mobile, .swiper-container{
        display: block;
    }
    .catalogo{
        display: flex;
    }
    #description{
        width: 100%;
        margin-left: 0;
    }
    #responsive-container{
        margin: 30px 7%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 425px;
    }
    #responsive-container .swiper-container{
        max-width: 48%;
        max-height: 450px;
        min-height: 450px;
    }
    #responsive-container .swiper-slide img{
        padding-bottom: unset;
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
    }
    .container-650px{
        display: none !important;
    }
    #responsive-container #description{
        max-width: 48%;
    }
    .bti h2{
        font-size: 30px;
    }
    .bti h2:before {
        padding: 4px 16px;
        margin-right: 10px;
    }
    #description p{
        margin-bottom: 20px;
    }
    .a-contain{
        margin-top: 9%;
    }
    .otros{
        margin-top: -50px;
    }
    .bti .otros{
        margin-top: -10px;
    }
    .otros h3{
        margin-bottom: 0px;
    }
    #responsive-container #description{
        display: block;
        margin-right: 20px;
    }
    #menutabs01 {
        padding-left: 0px;
        min-width: 100%;
        position: absolute;
        overflow-x: auto;
        bottom: 0px;
    }
    .detalles-producto .caracteristicas{
        display: block;
    }
    .detalles-producto table{
        min-width: 87%;
        margin: 0% 7% 40px 7%;
    }
    .product-page .otros{
        margin-top: 20px;
    }
    .search-box {
        cursor: pointer;
        margin: 3px 0px auto 0;
    }
    .form-news input {
        margin-right: 0px;
    }
    .bti h2 {
        font-size: 30px;
    }
    #black h2:before {
        padding: 4px 16px;
        margin-right: 10px;
    }
    .bti h1{
        font-size: 35px;
    }
    .bti > p{
        font-size: 15px;
    }
    .shop-list{
        margin-right: 0px;
    }
}
@media screen and (max-width: 800px){
    #responsive-container .swiper-container {
        max-height: 420px;
        min-height: 420px;
    }
    #responsive-container{
        height: 386px;
    }
}
@media screen and (max-width: 750px){
    .form-wrapper {
        min-width: 306px;
    }
    #responsive-container {
        height: 390px;
    }
    .title-tabs h2 {
        font-size: 42px;
        text-align: center;
        display: block;
        margin: 24px auto;
    }
    #responsive-container .swiper-container {
        max-height: 380px;
        min-height: 380px;
    }
    #responsive-container{
        height: 365px;
    }  
}
@media screen and (max-width: 650px){
    .layout-product-2{
        display: none !important;
    }
    .container-650px{
        display: flex !important;
    }
    .container-650px h4{
        display: block !important;
        margin: auto;
        font-size: 32px !important;
        margin-bottom: 20px;
    }
    #responsive-container{
        height: auto;
        flex-direction: column;
    }
    #responsive-container #description, #responsive-container .swiper-container  {
        max-width: 100%;
    }
    #responsive-container .swiper-container{
        max-height: 100%;
        min-height: 100%;    
    }
    .otros, .otros h3{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px !important;
    }
    .swiper-slide{
        max-height: 483px;
    }
    #responsive-container .swiper-container {
        height: 653px;
    }
}
@media screen and (max-width: 550px){
    .banner-desk{
        display: none;
    }
    .banner-mob{
        display: block;
    }
    .anvorguesa {
        margin-top: 0px;
        margin-right: 0px;
    }
    .anvorguesa svg {
        margin-top: -5px;
    }
    .logo-header img {
        max-width: 150px;
        margin: 15% 0 14% 16px;
    }
    .video-desktop{
        display: none;
    }
    .video-responsive{
        display: block;
    }
    .swiper-slide .container-vestidos {
        max-height: 502px;
    }
    .swiper-slide .container-vestidos {
        height: auto;
        width: 100%;
        padding-bottom: 0;
    }
    .copy-logo{
        margin: auto 16% 30px;
        justify-content: inherit;
    }
    .swiper-container{
        height: 533px;
    }
    .swiper-slide {
        height: 526px !important;
    }
    #formulario label{
        font-size: 13px;
        top: 8px;
    }
    #formulario input{
        height: 30px;
    }
    .textoError{
        width: 106% !important;
    }
    .enviar{
        font-size: 20px;
        margin-bottom: unset;
    }
    h3 {
        font-size: 30px;
    }
    address{
        font-size: 13px;
    }
    .form-news input{
        margin-right: 0px;
        margin-bottom: 30px !important;
    }
    .form-news label {
        margin-left: -1px;
    }
    .n-vestido{
        font-size: 15px;
        padding: 20px 0px;
    }
    .hover{
        font-size: 15px;
        padding: 5px 0;
    }
    .container-vestidos:hover .hover{
        bottom: 60px;
    }
    .donde-comprar h1 {
        font-size: 30px;
    }
    #description p{
        margin-bottom: 25px;
    }
    .n-vestido {
        margin-top: -71px;
    }
    .bti h2 {
        margin: 22px 7% 30px;
        font-size: 22px;
    }
    .bti h2:before {
        padding: 4px 13px;
        margin-right: 7px;
    }
    #escotes{
        margin: 20px;
    }
    #escotes :nth-child(2) img{
        padding: 51px 23px;
    }
    #escotes li{
        width: 48%;
        margin-bottom: 20px;
    }
    #colores{
        justify-content: center;
        margin: 7%;
    }
    #colores img {
        width: 87%;
    }
    .title-tabs h2 {
        font-size: 35px;
    }
    .detalles-producto p, .detalles-producto li{
        font-size: 15px !important;
    }
    .detalles-producto h4 {
        font-size: 20px !important;
    }
    .detalles-producto h3{
        margin-bottom: 10px !important;
    }
    #gold .otros h3 {
        margin-bottom: 20px ;
    }
    #escaparate h1{
        margin: 0px auto 15px;
    }
    .banner-mob{
        display: block;
    }
    .banner-desk{
        display: none;
    }
    .bti h2:before {
        padding: 4px 13px;
        margin-right: 7px;
    }
    .bti .flecha-gris{
        margin: 40px 4% 80px 7%;
    }
    .bti h2 {
        margin: 22px 7% 30px;
        font-size: 22px;
    }
    .bti h1{
        font-size: 30px;
    }
    .flecha-black{
        margin: 40px 4% 80px 7%;
        font-size: 22px;

    }
    .search-box {
        cursor: pointer;
        margin: 2px -5px auto 0;
    }
    .bti .flecha-gris {
        padding-right: 45px;
    }
    .flecha-before::before{
        top: -8px;
    }
    .antes{
        padding-right: 45px;
    }
    #escotes img {
        width: 60%;
    }
}
@media screen and (max-width: 450px){
    .copy-logo{
        margin: auto 0 30px;
        justify-content: inherit;
    }
    .form-wrapper {
        min-width: 300px;
        padding-bottom: 1px;
    }
    .nav-footer {
        width: 47%;
    }
    .n-vestido {
        margin-top: -3px;
    }
    #escaparate h1{
        margin-bottom: 20px;
    }
    #responsive-container .swiper-container{
        max-height: 460px;
    }
    .correo div{
        max-width: 232px;
    }
    .modal-buscar{
        min-width: 300px;
    }
    .form-modal input {
        max-width: 230px;
    }
    .container-650px h4{
        margin-bottom: 0px;
    }
    .correo {
        width: 95%;
        overflow: hidden;
    }
}
@media screen and (max-width: 370px){
    .nav-footer {
        width: 53%;
    }
    .form-wrapper{
        min-width: 250px;
    }
    #responsive-container .swiper-container{
        max-width: 100%;
        max-height: 410px;
        margin-top: 25px;
    }
    .swiper-slide {
        height: 460px !important;
    }
    .detalles-producto table {
        margin: 0% 7% 40px 0%;
    }
    .modal-buscar{
        min-width: 250px;
    }
    .form-modal input {
        max-width: 230px;
    }
}